.blogposts {
	padding-top: 50px;
	padding-bottom: 50px;
}

.blogpost {
	margin: 30px 0;
	> .col,
	> [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
  }
}

	.blogpost__img {
		max-width: 100%;
		max-height: 100%;	
	}

	.blogpost__type {
		font-size: 13px;
		text-align: center;
	}

	.blogpost__title {
		font-size: 22px;
		text-align: center;
		font-weight: bold;
	}

	.blogpost__description {
		font-size: 16px;
		text-align: center;
	}

	.blogpost__next {
		border-left: #000 4px solid;
		padding: 10px 25px;
		margin: 50px auto 50px;
	}

	.blogpost__next-title {
		font-size: 16px;
		font-weight: bold;
		text-align: left;
	}

	.blogpost__next-type {
		font-size: 13px;
		text-align: left;
		margin: 0;
	}
