.active_event-card {
	&:before {
        content: '';
        position: absolute;
        left: 40%;
        top: 0px;
        width: 20%;
        border: 4px solid @color-active;
	}
}
.event-card {
	color: #b7b7b7;
	background: #222222;
	padding-bottom: 25px;
}

	.event-card__type {
		font-size: 16px;
		padding: 65px 35px 10px;
		text-transform: uppercase;
	}

	.event-card__title {
		font-size: 24px;
		margin: 0 35px 60px;
		line-height: 1.25;
	}

	.event-card__photo {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		margin: 0 10px 0px 35px;
	}

	.event-card__person {
		text-transform: uppercase;
		margin: 0;
	}

	.event-card__date {
		margin: 0;
	}

	.event-card__carousel {
		padding-bottom: 100px;
	}
