.carousel {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.right-arrow {
    position: absolute;
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: 25px;
    height: 25px;
    transform: rotate(-45deg);
    right: -5%;
    top: 50%;
    cursor: pointer;
}
