footer {
	background-color: #212121;
	font-size: 14px;
	color: @color-text-footer;
	padding-top: 50px;
	input {
		.footer__input;
	}
	textarea {
		.footer__input;
		width: 84%;
		resize: vertical;
	}
	[type=submit] {
		background: none;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		display: block;
		width: auto; 
	}
}

.footer__input {
	width: 40%;
	margin-right: 4%;
	margin-bottom: 25px;
	color: @color-text-footer;
	background: transparent;
	border: none;
	border-bottom: 1px solid;
	&:focus {
		border: none;
		border-bottom: 1px solid;
	}
	&::placeholder {
		text-transform: uppercase;
	}
	&::-moz-placeholder {
		text-transform: uppercase;
	}
	&::-webkit-placeholder {
		text-transform: uppercase;
	}
}

.footer__title-link {
	font-size: 24px;
	color: @color-text-light;
	text-transform: uppercase;
	&:hover {
		color: @color-text-light;
	}
}

.footer__title {
	text-transform: uppercase;
	color: #ddd;
}

.footer__link-list {
	list-style-type: none;
	padding: 0;
	a {
		color: @color-text-footer;

	}
}

.footer__last-row {
	&:before {
		content:'';
		width: 100%;
		border-bottom: 1px solid #474747;
		display: block;
		margin: 25px 0;
	}
}

.footer__last-link-list {
	text-transform: uppercase;
	text-align: right;
	li {
		margin-left: 25px;
		display: inline-block;
	}
}
