.gallery {
	/*width: 100%;*/
	height: 359px;
	overflow: hidden;
}

	.gallery__screenshot {
	width: 440px;
	height: 359px;
	}

	.gallery__indicators {
		margin: 25px 0 50px;
	}

	.gallery__indicator {
		background: #ccc;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.gallery__indicator_active {
		background: @color-active;
	}
