
.gallery {
	width: 4*440px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

	.gallery__container {
		list-style: none;
		width: 10000px;
		height: 359px;
		margin: 0;
		padding: 0;
		border: 0;
	}

	.gallery__screenshot {
	width: 440px;
	height: 359px;
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-block;
	}

	.gallery__indicators {
		margin: 25px 0 50px;
	}

	.gallery__indicator {
		background: #ccc;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.gallery__indicator_active {
		background: @color-active;
	}
