.hipsters {
	padding-bottom: 100px;
}

.hipster {
	background: url(../img/hipster_s.png) no-repeat;
	height: 102px;
}

.hipster-1 {
	background-position: 0 0;
	width: 94px;
}

.hipster-2 {
	background-position: -161px 0;
	width: 99px;
}

.hipster-3 {
	background-position: 0 0;
	width: 94px;
}

.hipster-4 {
	background-position: 0 0;
	width: 94px;
}
.hipster-5 {
	background-position: -653px 0;
	width: 97px;
}

.hipster-6 {
	background-position: -824px 0;
	width: 83px;
}
